html, body {
  margin: 0;
  padding: 0;
}

button {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  outline: none;
  color: #ffffff;
  background-color: #4775ba;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #315ea2;
}

@media only screen and (min-width: 768px) {
  #container {
    width: 1000px;
    margin: 30px auto;
    text-align: center;
  }

  #question, #question2, #question3 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  #show_answer, #show_answer2, #show_answer3, #show_answer4 {
    margin-top: 20px;
    font-size: 40px;
  }

  #show_answer4 {
    word-wrap:break-word;
    min-height: 300px;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #show_answer4 > div {
    padding: 0 5px;
    height: 100px;
    border: 1px solid #e3e3e3;
    line-height: 100px;
    margin-bottom: 5px;
    padding: 0 10px;
    margin-right: 5px;
  }

  .num {
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
  }

  #panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    padding-left: 20px;
  }

  #panel > div {
    height: 40px;
    margin-top: 20px;
    font-size: 24px;
  }

  #panel > div:hover {
    cursor: pointer;
  }

  #page2_, #page3_, #page4_ {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #container {
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  #question, #question2, #question3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }

  #show_answer, #show_answer2, #show_answer3, #show_answer4 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
  }

  button {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 24px;
  }

  #panel {
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  #panel > div {
    width: 25%;
    display: inline-block;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #4775ba;
    line-height: 40px;
    color: #e3e3e3;
  }

  #panel > div:hover {
    cursor: pointer;
    background-color: #315ea2;
  }

  #page2_, #page3_, #page4_ {
    display: none;
  }

  #show_answer4 {
    word-wrap:break-word;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  #show_answer4 > div {
    height: 50px;
    line-height: 50px;
    border: 1px solid #e3e3e3;
    margin-bottom: 5px;
    padding: 0 10px;
  }

  .num {
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
  }
}
